{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
   <h2>Список статей</h2>
   <div class="list-group">
       {% for article in articles %}
           <a href="#" class="list-group-item list-group-item-action">
               <h5 class="mb-1">{{ article.title }}</h5>
               <p class="mb-1">{{ article.content|truncatewords:30 }}</p>
               <small>Опубликовано: {{ article.published_date }}</small>
           </a>
       {% empty %}
           <p>Нет доступных статей.</p>
       {% endfor %}
   </div>
{% endblock %}